<div class="row">

  <div class="col_100">
    <div class="form_group">
      <label for="name">Nome do Dev <span class="required">*</span></label>
      <input type="text" name="name" id="name" placeholder="Ex.: Acampamento Dev" value="{{ dev.name ? dev.name : old('name') }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="col_100">
    <div class="form_group">
      <label for="subject">Assuntos abordados pelo Dev <span class="required">*</span></label>
      <input type="text" name="subject" id="subject" placeholder="Ex.: PHP, Javascript, Java, Design Patterns, Clean Code, etc..." value="{{ dev.subject ? dev.subject : old('subject') }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="col_100">
    <div class="form_group">
      <label for="avatar">Avatar <span class="required">*</span></label>
      <input type="text" name="avatar" id="avatar" placeholder="Url para o Avatar do Dev" value="{{ dev.avatar ? dev.avatar : old('avatar') }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="col_50">
    <div class="form_group">
      <label for="github">Github</label>
      <input type="text" name="github" id="name" placeholder="Url para o Github do Dev" value="{{ dev.github ? dev.github : old('github') }}">
    </div>
  </div>

  <div class="col_50">
    <div class="form_group">
      <label for="youtube">Youtube</label>
      <input type="text" name="youtube" id="youtube" placeholder="Url para o Youtube do Dev" value="{{ dev.youtube ? dev.youtube : old('youtube') }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="col_50">
    <div class="form_group">
      <label for="linkedin">Linkedin</label>
      <input type="text" name="linkedin" id="linkedin" placeholder="Url para o Linkedin do Dev" value="{{ dev.linkedin ? dev.linkedin : old('linkedin') }}">
    </div>
  </div>

  <div class="col_50">
    <div class="form_group">
      <label for="twitter">Twitter</label>
      <input type="text" name="twitter" id="twitter" placeholder="Url para o Twitter do Dev" value="{{ dev.twitter ? dev.twitter : old('twitter') }}">
    </div>
  </div>

</div>

<div class="row">

  <div class="col_50">
    <div class="form_group">
      <label for="instagram">Instagram</label>
      <input type="text" name="instagram" id="instagram" placeholder="Url para o Instagram do Dev" value="{{ dev.instagram ? dev.instagram : old('instagram') }}">
    </div>
  </div>

  <div class="col_50">
    <div class="form_group">
      <label for="site_blog">Site / Blog</label>
      <input type="text" name="site_blog" id="site_blog" placeholder="Url para o Site ou Blog do Dev" value="{{ dev.site_blog ? dev.site_blog : old('site_blog') }}">
    </div>
  </div>

</div>
