<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FollowTheDev - Siga os melhores Dev do Mundo!</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  @!section('main')

  <section class="footer_container_bg">
    <div class="footer_container">
      <footer>
        <div class="brand">Follow<span>The</span>Dev</div>
        <div class="author">By <a href="{{  route('others.about') }}">Paulo Reis</a></div>
      </footer>
    </div>
  </section>

  <form id="deleteDevForm" action="" method="POST">
    {{ csrfField() }}
  </form>

  <script>

    function deleteDev(route, event) {
      event.preventDefault();

      const deleteDevForm = document.querySelector('#deleteDevForm')

      if(confirm("Você tem certeza que deseja remover este registro?")) {
        deleteDevForm.setAttribute('action', route + "?_method=delete")
        deleteDevForm.submit()
      }
    }

  </script>

</body>
</html>
