@layout('layout.template')
@section('main')

<div class="wrapper">

  <header>
      <div class="brand">Follow<span>The</span>Dev</div>
      <a href="{{  route('dev.index') }}" class="btn btn_red btn_back">
          Listagem de Devs
      </a>
  </header>

  <main>

      @include('layout.alerts')

      <section class="card_container">

          <div class="page form">

              <h1>Atualizar Dev</h1>

              <form action="{{ route('dev.update', { id: dev.id }) }}?_method=put" method="POST">

                {{ csrfField() }}

                @include('dev.partial.form')

                <div class="row">
                  <div class="col_100">
                    <hr class="separator">
                  </div>
                </div>

                <div class="row">

                  <div class="col_50 no_margin_footer">
                    <button type="submit" class="btn btn_green btn_save">
                      Atualizar Dev
                    </button>
                  </div>

                </div>

              </form>

          </div>

      </section>

  </main>

</div>

@endsection
